.ant-btn {
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Roboto Mono";
  width: fit-content;
  height: fit-content;
  height: -moz-fit-content;

  font-size: 1em;
  padding: 8px 18px;
}

.ant-btn-lg {
  font-size: 1.25em;
  padding: 10px 24px;
}

.ant-form-item {
  // flex-direction: column;

  .ant-form-item-label {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 3px;

    font-family: "Roboto Mono";
    font-size: 0.9em;
  }

  .ant-input {
    margin-bottom: 10px;
  }
  .form-item-description {
    font-weight: 300;
  }
}
