.header {
  margin-top: 40px;
}

.input-field {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 20px;
  // background-color: rgb(237, 169, 169);
  width: 100%;

  .input-field--label {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 3px;

    font-family: "Roboto Mono";
    font-size: 0.9em;
  }
  .input-field--input {
    width: 100%;
    font-size: 1.5em;
    padding: 4px 4px;

    border: 1.2px solid #4b4b4b;
    border-radius: 3px;
  }
  .input-field--description {
    margin: 8px 0 0 0;
    font-size: 0.95em;
    width: 90%;
    font-weight: 300;
  }
}
