@import "./antd-override.scss";
@import "./page.create-board.scss";
@import "./page.board.scss";
@import "./page.feedbacks.scss";

@import "./component.feedback-card.scss";

* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: "Roboto";
  margin: 0 auto;
  width: 90vw;
  margin-bottom: 80px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#app-root,
.app-container {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
}
.page {
  margin-top: 40px;
  padding-bottom: 40px;

  .go-back {
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.pointable {
  cursor: pointer;
}

.error-message {
  color: red;
}

.ant-btn.full-button {
  width: 100%;
}
