@import "./antd-override.scss";
@import "./page.create-board.scss";
@import "./page.board.scss";

@import "./component.button.scss";
@import "./component.input-field.scss";
@import "./component.title.scss";
@import "./component.content-header.scss";
* {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  font-family: "Roboto";
  margin: 0 auto;
  width: 90vw;
  margin-bottom: 80px;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
