#feedbacks-page {
  height: 100%;
  margin-top: 20px;

  h1.ant-typography {
    display: flex;
    align-items: center;
  }
  .fa-arrow-left {
    font-size: 0.6em;
    margin-right: 20px;
  }

  .no-feedback-message {
    font-size: 1.2em;
  }

  .feedbacks-container {
    display: flex;
    flex-direction: column;
    gap: 14px;

    .feedback-card {
      border-radius: 8px;
      background-color: #f1f1f1;
      padding: 8px 10px;
      box-shadow: 0px 1px 6px 0px rgba(#000000, 15%);

      .content {
        font-family: "Roboto";
        font-weight: 400;
      }
    }
  }
}
